
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html"; charset="utf-8" />
    <title>灯具数量</title>

    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="js/bstable/css/bootstrap-table.css" rel="stylesheet" type="text/css">
    <link href="css/table1.css" rel="stylesheet" type="text/css">


</head>
<body style="background-color: #ecf0f5;font-family: 微软雅黑;color: #475059;min-width: 1000px;overflow: auto">
<div class="from_main" >
    <div class="news_check">
        <div class="check_left l_left">
            <label>灯具类型<label>
            <select class="find_input">
                <option>路灯</option>


        </select>



        <button>查询</button>
        </div>
        <div class="check_right r_right">
            <a class="btn btn-default"><span class=" glyphicon glyphicon-circle-arrow-down l_left"></span>打印</a>
            <a class="btn btn-default"><span class=" glyphicon glyphicon-download-alt l_left"></span>导出</a>
        </div>
        <div class="clear"></div>
    </div>

    <div style="padding: 0 10px 0 10px ;border: 1px #ccc solid;background-color: #fff;">


        <div class="e_chart">
            <div class="charts l_left last_charts" style="width: 100%">
                <p class="charts_p">灯具区域数据分析<span class="r_right">更多></span></p>
                <div id="container7" style="height:250px;"></div>
                <div style="width: 100%;margin-top: 0px">
                    <table class="annyTable" border="1">
                        <tr>
                            <td class="first_td">灯具总数</td>
                            <td class="">13025个</td>

                        </tr>
                        <tr>
                            <td class="first_td">高新区</td>
                            <td>120个</td>

                        </tr>
                        <tr>
                            <td class="first_td">天府新区</td>
                            <td>1230个</td>


                        </tr>
                        <tr>
                            <td class="first_td">锦江区</td>
                            <td>2301个</td>

                        </tr>
                        <tr>
                            <td class="first_td">金牛区</td>
                            <td>2301个</td>

                        </tr>
                        <tr>
                            <td class="first_td">成华区</td>
                            <td>2301个</td>

                        </tr>
                        <tr>
                            <td class="first_td">青羊区</td>
                            <td>2301个</td>

                        </tr>

                    </table>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>

</div>




</body>
<script type="text/javascript" src="js/jquery-2.2.0.min.js"></script>
<script src="js/bstable/js/bootstrap.min.js"></script>
<script src="js/bstable/js/bootstrap-table.js"></script>
<script src="js/bstable/js/bootstrap-table-zh-CN.min.js"></script>
<script src="js/echarts-all.js"></script>

<script>
    $(function(){
        var myChart = echarts.init($("#container7")[0]);
        option = {

            tooltip : {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            legend: {
                orient : 'vertical',
                x : 'left',
                data:['高新区','天府新区','锦江区','成华区','青羊区','金牛区']
            },
            toolbox: {
                show : true,
                feature : {
                    mark : {show: true},
                    dataView : {show: true, readOnly: false},
                    magicType : {
                        show: true,
                        type: ['pie', 'funnel'],
                        option: {
                            funnel: {
                                x: '25%',
                                width: '50%',
                                funnelAlign: 'left',
                                max: 1548
                            }
                        }
                    },
                    restore : {show: true},
                    saveAsImage : {show: true}
                }
            },
            calculable : true,
            series : [
                {
                    name:'车辆数',
                    type:'pie',
                    radius : '55%',
                    center: ['50%', '60%'],
                    data:[
                        {value:335, name:'高新区'},
                        {value:310, name:'天府新区'},
                        {value:234, name:'成华区'},
                        {value:234, name:'金牛区'},
                        {value:234, name:'青羊区'},
                        {value:135, name:'锦江区'}

                    ]
                }
            ]
        };
        myChart.setOption(option);
    });
</script>
</html>
