<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html" ; charset="utf-8"/>
    <title>水质分类评价表</title>
    <link href="css/table.css" rel="stylesheet" type="text/css">
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
</head>
<body style="background-color: #ecf0f5;font-family: 微软雅黑;color: #47505%9;min-width: 1000px;overflow: auto">
<div class="from_main">
    <div class="news_check">
        <div class="check_left l_left">
            <label>时间段：</label>
            <input type="month" placeholder="" style="margin-right: 10px">
            <input type="month" placeholder="">
            <button class="check_btn">查询</button>
        </div>
        <div class="check_right r_right">

            <a class="btn btn-default"><span class=" glyphicon glyphicon-circle-arrow-down l_left"></span>打印</a>
            <a class="btn btn-default"><span class=" glyphicon glyphicon-download-alt l_left"></span>导出</a>
        </div>
        <div class="clear"></div>
    </div>

    <div style="padding: 0 10px 0 10px ;border: 1px #ccc solid;background-color: #fff;height: 88%;overflow: auto">
        <h1 class="form_h1">2018年3月设备监控数据</h1>
        <p class="from_p">日期：2018-2-30 至 2018-3-30</p>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>河流</th>
                <th>河流长度</th>
                <th>Ⅰ类</th>
                <th>Ⅱ类</th>
                <th>Ⅲ类</th>
                <th>Ⅳ类</th>
                <th>Ⅴ类</th>
                <th>劣Ⅴ类</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>巴河</td>
                <td>1500公里</td>
                <td>14.25%</td>
                <td>23.12%</td>
                <td>12%.05%</td>
                <td>24.31%</td>
                <td>26.53%</td>
                <td>12%.33%</td>
            </tr>
            <tr>
                <td>巴河</td>
                <td>1500公里</td>
                <td>14.25%</td>
                <td>23.12%</td>
                <td>12%.05%</td>
                <td>24.31%</td>
                <td>26.53%</td>
                <td>12%.33%</td>
            </tr>
            <tr>
                <td>巴河</td>
                <td>1500公里</td>
                <td>14.25%</td>
                <td>23.12%</td>
                <td>12%.05%</td>
                <td>24.31%</td>
                <td>26.53%</td>
                <td>12%.33%</td>
            </tr>
            <tr>
                <td>巴河</td>
                <td>1500公里</td>
                <td>14.25%</td>
                <td>23.12%</td>
                <td>12%.05%</td>
                <td>24.31%</td>
                <td>26.53%</td>
                <td>12%.33%</td>
            </tr>
            <tr>
                <td>巴河</td>
                <td>1500公里</td>
                <td>14.25%</td>
                <td>23.12%</td>
                <td>12%.05%</td>
                <td>24.31%</td>
                <td>26.53%</td>
                <td>12%.33%</td>
            </tr>
            <tr>
                <td>巴河</td>
                <td>1500公里</td>
                <td>14.25%</td>
                <td>23.12%</td>
                <td>12%.05%</td>
                <td>24.31%</td>
                <td>26.53%</td>
                <td>12%.33%</td>
            </tr>
            <tr>
                <td>巴河</td>
                <td>1500公里</td>
                <td>14.25%</td>
                <td>23.12%</td>
                <td>12%.05%</td>
                <td>24.31%</td>
                <td>26.53%</td>
                <td>12%.33%</td>
            </tr>
            <tr>
                <td>巴河</td>
                <td>1500公里</td>
                <td>14.25%</td>
                <td>23.12%</td>
                <td>12%.05%</td>
                <td>24.31%</td>
                <td>26.53%</td>
                <td>12%.33%</td>
            </tr>
            <tr>
                <td>巴河</td>
                <td>1500公里</td>
                <td>14.25%</td>
                <td>23.12%</td>
                <td>12%.05%</td>
                <td>24.31%</td>
                <td>26.53%</td>
                <td>12%.33%</td>
            </tr>
            <tr>
                <td>巴河</td>
                <td>1500公里</td>
                <td>14.25%</td>
                <td>23.12%</td>
                <td>12%.05%</td>
                <td>24.31%</td>
                <td>26.53%</td>
                <td>12%.33%</td>
            </tr>
            <tr>
                <td>巴河</td>
                <td>1500公里</td>
                <td>14.25%</td>
                <td>23.12%</td>
                <td>12%.05%</td>
                <td>24.31%</td>
                <td>26.53%</td>
                <td>12%.33%</td>
            </tr>
            <tr>
                <td>巴河</td>
                <td>1500公里</td>
                <td>14.25%</td>
                <td>23.12%</td>
                <td>12%.05%</td>
                <td>24.31%</td>
                <td>26.53%</td>
                <td>12%.33%</td>
            </tr>

            </tbody>

        </table>
    </div>
</div>


</body>
<script src="js/jquery/jQuery-2.2.0.min.js"></script>
<script>
    $(function () {
        $(".top_btn>a").each(function (index) {
            $(this).click(function () {
                $(".top_btn>a").removeClass("active");
                $(this).addClass("active")
            })
        });
    })
</script>
</html>
