<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.chefhat_detection.daos.AlarmDao">

    <select id="getallAlarm" resultType="com.example.chefhat_detection.pojo.Alarm">
        select * from alarm,kitchen where alarm.id=kitchen.id;
    </select>

    <select id="getAlarmbyId" parameterType="java.lang.Integer" resultType="com.example.chefhat_detection.pojo.Alarm">
        SELECT * FROM `Alarm` WHERE id=#{id}
    </select>
    <select id="getAlarmbyName" parameterType="java.lang.String" resultType="com.example.chefhat_detection.pojo.Alarm">
        SELECT * FROM `Alarm` WHERE id = ANY(select id from kitchen WHERE name=#{name})
    </select>
    <select id="getAlarmbyUserame" parameterType="java.lang.String" resultType="com.example.chefhat_detection.pojo.Alarm">
        select * from alarm,kitchen where alarm.id=kitchen.id and kitchen.user=#{username};
    </select>
</mapper>