<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.chefhat_detection.daos.UserDao">

    <select id="findUserByUserName" resultType="com.example.chefhat_detection.pojo.User">
        select * from users where username=#{username};
    </select>
    <select id="getAllUsers" resultType="com.example.chefhat_detection.pojo.User">
        select * from users
    </select>
    <insert id="addUser" parameterType="com.example.chefhat_detection.pojo.User">
        INSERT into users(username,password) VALUES (#{username}, MD5(#{password}))
    </insert>
    <delete id="deleteUser">
        delete from users where username=#{username}
    </delete>
    <update id="updateUser">
        update users set password=MD5(#{password}),email=#{email},role=#{email} where username=#{username}
    </update>
</mapper>